KEYCLOAK_PORT=""
KEYCLOAK_USER=""
API_IP_ADDRESS=""
KEYCLOAK_ADMIN_REALM_NAME=""
KEYCLOAK_PASSWORD=""
KEYCLOAK_ADMIN_CLIENT_ID=""
KEYCLOAK_ADMIN_SECRET_KEY=""
KEYCLOAK_SERVER_URL=""
KEYCLOAK_TOKEN_ENDPOINT=""
KEYCLOAK_AUTHORIZATION_URL=""
